.clearFix{
    clear: both;
}

.boxNav{
    display: block;
    border: 3px solid #FA41B3;
    border-left: 0px;
    border-right: 0px;
    height: 80px;
    width: 100%;
    margin: 0;
    
}
.boxNav2{
    
    border: 3px solid #FA41B3;
    width: 250px;
    height: 80vh;
    margin-top: 0px;
    margin-left: 10px;
    border-top: 300px;
}
.boxNav3{
    
    border: 3px solid #FA41B3;
    width: 1600px;
    height: 80vh;
    margin-top: 0px;
    margin-left: 10px;
    border-top: 300px;
}
body{
    font-family:'Courier New', Courier, monospace;
}
/* campo sbagliato */
.borderRed{
    border: 1px solid red;
}
/* background colore */
.bg{     
    background-color: #545454;
}
/* testo */
.text{
    text-align: center;
    color: white;
    font-style:inherit;
}
.text2{
    text-align: center;
    color: #FA41B3;
    font-family:'Courier New', Courier, monospace;
}
.text3{
    text-align: justify;
    color: #FA41B3;
    font-family:'Courier New', Courier, monospace;
    float: left; 
    line-height: 160px; 
    margin-left: 30px;
}

/* allineamento */
.allineamentoc{
    align-content: center;
}
.allineamento_a_s{
    align-content: end;
}

.dimLogo{
    width: auto;
    height: 120px;
    margin-left: 50px;
}
.flex{
    border: 50px #FA41B3;
    align-items:normal;
}
.altezza{
    height: 150px;
}
/* bottone */
.noUnd{
    text-decoration: none;
}
button  a{
    text-decoration: none;
    color: black;
    
}
/* modifica placeholder */
::placeholder{
    text-align: center;
    color: black;
}
/* bottoni */
.bottoni{
    background-color: #545454;
    
        
}
